html {
    min-height: 100%;
}

#carouselAppartment .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}

.custom-h1 {
    color: #c996a2;
    font-size: 80px;
    font-family: 'Playfair Display', Serif;
}

.custom-h2 {
    color: #c996a2;
    font-family: 'Open Sans';
}

.home {
    background-image: url('../img/image_sea.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-brand-text-style {
    font-family: sans-serif;
    font-size: 1.5rem;
}

.contact-link {
    color: #6a1a21;
    font-weight: bold;
}

.clicky-badge {
    display: none !important;
}
