html {
    min-height: 100%;
}

#carouselAppartment .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}

.custom-h1 {
    color: #d63384;
    font-size: 80px;
    font-family: 'Playfair Display', Serif;
}

.custom-h2 {
    color: #d63384;
    font-family: 'Open Sans';
}

.home {
    background-image: url('../img/image_sea.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}