/*html {*/
/*    height: 100%;*/
/*}*/
/*body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*}*/

html {
    min-height: 100%;
}


#carouselAppartment .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}